Repository openmeterio/openmeter, pull requests merged in 2024-05, with the labels that each got.

#842 Update dagger modules
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  Dockerfile
  ci/go.mod
  ci/go.sum
  ci/main.go
  ci/release.go
  dagger.json
  flake.lock
Labels: release-note/ignore

#847 ci: improve helm publish
  ci/build.go
  ci/lint.go
  ci/main.go
  ci/release.go
  dagger.json
Labels: release-note/ignore

#848 ci: consolidate dagger usage
  .github/workflows/ci.yaml
Labels: release-note/ignore

#844 refactor: clean up credits api spec
  .gitignore
  .vscode/launch.json
  api/api.gen.go
  api/api.go
  api/client/go/client.gen.go
  api/openapi.yaml
  cmd/server/main.go
  e2e/e2e_test.go
  go.mod
  go.sum
  internal/credit/connector.go
  internal/credit/credit.go
  internal/credit/ledger.go
  internal/credit/ledger_test.go
  internal/credit/nope_connector/connector.go
  internal/credit/postgres_connector/balance.go
  internal/credit/postgres_connector/ent/db/creditentry.go
  internal/credit/postgres_connector/ent/db/creditentry/creditentry.go
  internal/credit/postgres_connector/ent/db/creditentry/where.go
  internal/credit/postgres_connector/ent/db/creditentry_create.go
  internal/credit/postgres_connector/ent/db/creditentry_update.go
  internal/credit/postgres_connector/ent/db/migrate/schema.go
  internal/credit/postgres_connector/ent/db/mutation.go
  internal/credit/postgres_connector/ent/schema/credit.go
  internal/credit/postgres_connector/grant.go
  internal/credit/postgres_connector/history.go
  internal/credit/postgres_connector/history_test.go
  internal/server/router/credit_balance.go
  internal/server/router/credit_grant.go
  internal/server/router/credit_ledger.go
  internal/server/router/credit_reset.go
  internal/server/router/event.go
  internal/server/router/feature.go
  internal/server/router/router.go
  pkg/defaultx/default.go
Labels: area/api, kind/refactor

#850 ci: rewrite quickstart tests in Dagger
  .github/workflows/ci.yaml
  ci/main.go
  quickstart/ingest.sh
  quickstart/quickstart_test.go
  quickstart/verify.sh
Labels: release-note/ignore

#846 ci: generate python SDK using Dagger
  .github/workflows/generate-client-python.yaml
  .github/workflows/release.yaml
  api/client/python/Dockerfile
  api/client/python/Makefile
  api/client/python/config.yaml
  ci/generate.go
  ci/main.go
  ci/release.go
  dagger.json
Labels: release-note/ignore

#861 fix: python package publishing
  ci/release.go
Labels: release-note/ignore

#849 Generate node and web sdk with Dagger
  .github/workflows/generate-client-node.yaml
  .github/workflows/generate-client-web.yaml
  .github/workflows/release.yaml
  ci/generate.go
  ci/main.go
  ci/release.go
Labels: release-note/ignore

#865 ci: fix node release
  ci/release.go
Labels: release-note/ignore

#866 Fix node release
  ci/go.mod
  ci/release.go
Labels: release-note/ignore

#867 ci: fix node release
  ci/release.go
Labels: release-note/ignore

#868 Ci fixes
  .github/actions/free-disk-space/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/publish-client-node.yaml
  .github/workflows/publish-client-python.yaml
  .github/workflows/publish-client-web.yaml
  .github/workflows/release.yaml
  .github/workflows/sdk-node.yaml
  .github/workflows/sdk-python.yaml
  .github/workflows/sdk-web.yaml
Labels: release-note/ignore

#871 refactor: rename openapi methods
  api/api.gen.go
  api/client/go/client.gen.go
  api/openapi.yaml
  e2e/e2e_test.go
  internal/server/router/credit_balance.go
  internal/server/router/credit_grant.go
  internal/server/router/credit_ledger.go
  internal/server/router/credit_limits.go
  internal/server/router/credit_reset.go
Labels: area/api, release-note/ignore, kind/refactor

#872 chore(deps): bump confluent-kafka-go to 2.4.0
  go.mod
  go.sum
Labels: area/dependencies, dependency/go, release-note/dependency-update

#877 chore: update dagger
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  .github/workflows/sdk-node.yaml
  .github/workflows/sdk-python.yaml
  .github/workflows/sdk-web.yaml
  ci/build.go
  dagger.json
  flake.lock
Labels: release-note/ignore

#878 chore: update dagger
  dagger.json
  flake.lock
Labels: release-note/ignore

#880 refactor(sink-worker): use contex.Context for fetching namespaces
  cmd/sink-worker/main.go
  internal/sink/sink.go
Labels: release-note/ignore, kind/refactor, area/sink-worker

#870 refactor: use numeric type in the database
  internal/credit/postgres_connector/ent/schema/credit.go
Labels: release-note/ignore, area/entitlements

#881 ci: update dagger
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  .github/workflows/sdk-node.yaml
  .github/workflows/sdk-python.yaml
  .github/workflows/sdk-web.yaml
Labels: release-note/ignore

#893 Tune golangci lint
  .golangci.yaml
Labels: release-note/ignore

#894 chore: remove submodules
  .gitmodules
Labels: release-note/ignore

#895 ci: tune dependency updates
  .github/dependabot.yaml
Labels: release-note/ignore

#901 feat(backend): add ingest event counter metric
  cmd/server/main.go
  collector/benthos/internal/message/transaction.go
  collector/benthos/internal/shutdown/signaler.go
  internal/ingest/kafkaingest/collector.go
Labels: kind/feature, area/ingest

#902 feat(openmeter): export new kafka collector
  openmeter/ingest/kafkaingest/collector.go
Labels: kind/feature, area/ingest

#903 feat: mk broker.address.family configurable
  config/ingest.go
Labels: kind/feature, area/ingest, release-note/ignore

#904 feat: on ledger creation return the existing ledger if exists
  api/api.gen.go
  api/client/go/client.gen.go
  api/openapi.yaml
  config.example.yaml
  e2e/e2e_test.go
  internal/credit/credit.go
  internal/credit/postgres_connector/ent/db/migrate/schema.go
  internal/credit/postgres_connector/ledger.go
  internal/credit/postgres_connector/ledger_test.go
  internal/credit/problem.go
  internal/server/router/credit_ledger.go
  pkg/models/problem.go
Labels: kind/feature, area/api

#905 feat(otel): use conventional environment tag
  cmd/server/main.go
  cmd/sink-worker/main.go
Labels: kind/feature, release-note/feature

#906 refactor(sink-worker): use main context on flush
  internal/sink/sink.go
Labels: area/ingest, release-note/ignore, kind/refactor

#910 feat(sink-worker): make some Kafka parameters configurable
  cmd/sink-worker/main.go
  config/config_test.go
  config/ingest.go
  config/sink.go
Labels: area/ingest, kind/refactor, area/sink-worker

#911 ci: integrate stainless
  .github/workflows/snapshot.yaml
  ci/snapshot.go
  dagger.json
Labels: release-note/ignore

#912 chore(api): update openapi formatting
  api/openapi.yaml
Labels: release-note/ignore

#913 ci: fix snapshot job
  .github/workflows/snapshot.yaml
Labels: release-note/ignore

#916 revert: sink worker changes
  cmd/sink-worker/main.go
  config/config_test.go
  config/ingest.go
  config/sink.go
  internal/sink/sink.go
Labels: kind/bug, area/ingest, release-note/ignore, area/sink-worker

#931 test(e2e): increase eventual timeout
  e2e/e2e_test.go
Labels: kind/refactor

#932 update-grpc
  ci/main.go
  cmd/server/main.go
  cmd/sink-worker/main.go
  collector/benthos/output/otel_log.go
  config/telemetry.go
  go.mod
  go.sum
Labels: area/dependencies, dependency/go

#951 fix(ci): python client generation
  ci/generate.go
Labels: release-note/ignore

#952 chore: update alpine
  ci/main.go
Labels: area/dependencies

#950 Chore/client dep update
  api/client/node/package.json
  api/client/node/pnpm-lock.yaml
  api/client/web/package.json
  api/client/web/pnpm-lock.yaml
Labels: release-note/dependency-update, dependencies

#938 feat/balance api OM-573
  .vscode/default.code-workspace
  .vscode/launch.json
  api/api.gen.go
  api/client/go/client.gen.go
  api/openapi.yaml
  dagger.json
  e2e/e2e_test.go
  go.mod
  go.sum
  internal/credit/balance.go
  internal/credit/creditdriver/balance.go
  internal/credit/creditdriver/feature.go
  internal/credit/creditdriver/grant.go
  internal/credit/creditdriver/ledger.go
  internal/credit/feature.go
  internal/credit/postgres_connector/balance.go
  internal/credit/postgres_connector/balance_test.go
  internal/credit/postgres_connector/feature.go
  internal/credit/postgres_connector/grant.go
  internal/credit/postgres_connector/grant_test.go
  internal/credit/postgres_connector/history_test.go
  internal/credit/postgres_connector/reset_test.go
  internal/credit/postgres_connector/test_helpers/helpers.go
  pkg/convert/ptr.go
Labels: kind/feature, area/api

#960 ci: update dagger
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  .github/workflows/sdk-node.yaml
  .github/workflows/sdk-python.yaml
  .github/workflows/sdk-web.yaml
  .github/workflows/snapshot.yaml
  ci/build.go
  ci/go.mod
  ci/go.sum
  ci/main.go
  dagger.json
  flake.lock
Labels: release-note/ignore

#955 ci: free disk space before e2e
  .github/workflows/ci.yaml
Labels: release-note/misc

#961 ci: add missing space
  .github/workflows/ci.yaml
Labels: release-note/ignore
