Repository openmeterio/openmeter, pull requests merged in 2024-12, with the labels that each got.

#1927 chore: bump librdkafka to 2.6.1
  flake.nix
  openmeter/notification/rule.go
Labels: release-note/dependency-update, dependencies

#1931 feat: invoicing app support
  openmeter/app/sandbox/app.go
  openmeter/app/sandbox/mock.go
  openmeter/billing/adapter/invoice.go
  openmeter/billing/adapter/invoicelinemapper.go
  openmeter/billing/adapter/invoicelines.go
  openmeter/billing/entity/app.go
  openmeter/billing/entity/invoice.go
  openmeter/billing/entity/invoiceline.go
  openmeter/billing/entity/validationissue.go
  openmeter/billing/service/invoice.go
  openmeter/billing/service/invoicestate.go
  openmeter/ent/db/billinginvoice.go
  openmeter/ent/db/billinginvoice/billinginvoice.go
  openmeter/ent/db/billinginvoice/where.go
  openmeter/ent/db/billinginvoice_create.go
  openmeter/ent/db/billinginvoice_update.go
  openmeter/ent/db/billinginvoiceline.go
  openmeter/ent/db/billinginvoiceline/billinginvoiceline.go
  openmeter/ent/db/billinginvoiceline/where.go
  openmeter/ent/db/billinginvoiceline_create.go
  openmeter/ent/db/billinginvoiceline_update.go
  openmeter/ent/db/migrate/schema.go
  openmeter/ent/db/mutation.go
  openmeter/ent/db/setorclear.go
  openmeter/ent/schema/billing.go
  test/billing/invoice_test.go
  tools/migrate/migrations/20241207103019_billing-app-external-ids.down.sql
  tools/migrate/migrations/20241207103019_billing-app-external-ids.up.sql
  tools/migrate/migrations/atlas.sum
Labels: release-note/feature, area/billing

#1923 refactor: billing api
  api/api.gen.go
  api/openapi.yaml
  api/spec/src/billing/customeroverride.tsp
  api/spec/src/billing/invoices.tsp
  api/spec/src/billing/invoices/docref.tsp
  api/spec/src/billing/invoices/invoice.tsp
  api/spec/src/billing/invoices/org.tsp
  api/spec/src/billing/invoices/pay.tsp
  api/spec/src/billing/invoices/tax.tsp
  api/spec/src/billing/profile.tsp
  api/spec/src/types.tsp
  openmeter/billing/adapter/invoice.go
  openmeter/billing/entity/invoiceline.go
  openmeter/billing/httpdriver/handler.go
  openmeter/billing/httpdriver/invoice.go
  openmeter/billing/httpdriver/invoiceline.go
  openmeter/billing/httpdriver/profile.go
  openmeter/billing/invoice.go
  openmeter/billing/invoiceline.go
  openmeter/billing/service.go
  openmeter/billing/service/invoice.go
  openmeter/billing/service/invoiceline.go
  openmeter/server/router/billing.go
  test/billing/invoice_test.go
Labels: area/api, kind/refactor, area/billing

#1919 feat(customer): app data rest api
  api/api.gen.go
  api/client/go/client.gen.go
  api/client/node/schemas/openapi.ts
  api/client/web/src/client/openapi.ts
  api/openapi.cloud.yaml
  api/openapi.yaml
  api/spec/src/app/customer.tsp
  api/spec/src/app/main.tsp
  api/spec/src/customer.tsp
  cmd/server/main.go
  openmeter/app/adapter.go
  openmeter/app/adapter/app.go
  openmeter/app/adapter/customer.go
  openmeter/app/entity/app.go
  openmeter/app/entity/customer.go
  openmeter/app/httpdriver/customer.go
  openmeter/app/httpdriver/handler.go
  openmeter/app/input.go
  openmeter/app/observer/observer.go
  openmeter/app/sandbox/app.go
  openmeter/app/sandbox/helpers.go
  openmeter/app/sandbox/mock.go
  openmeter/app/service.go
  openmeter/app/service/customer.go
  openmeter/app/stripe/adapter.go
  openmeter/app/stripe/adapter/adapter.go
  openmeter/app/stripe/adapter/customer.go
  openmeter/app/stripe/adapter/stripe.go
  openmeter/app/stripe/entity/app/app.go
  openmeter/app/stripe/entity/customer.go
  openmeter/app/stripe/entity/input.go
  openmeter/app/stripe/observer/customer.go
  openmeter/app/stripe/service.go
  openmeter/app/stripe/service/app.go
  openmeter/app/stripe/service/factory.go
  openmeter/app/stripe/service/service.go
  openmeter/customer/adapter.go
  openmeter/customer/adapter/adapter.go
  openmeter/customer/adapter/app.go
  openmeter/customer/adapter/customer.go
  openmeter/customer/app/app.go
  openmeter/customer/entity/app.go
  openmeter/customer/entity/customer.go
  openmeter/customer/httpdriver/apimapping.go
  openmeter/customer/httpdriver/customer.go
  openmeter/customer/httpdriver/errors.go
  openmeter/customer/service.go
  openmeter/customer/service/customer.go
  openmeter/server/router/customer.go
  openmeter/server/server_test.go
  test/app/stripe/app_test.go
  test/app/stripe/appstripe.go
  test/app/stripe/testenv.go
  test/app/testenv.go
  test/billing/suite_test.go
Labels: area/api, release-note/feature, area/billing

#1945 refactor: billing api drop customer parts
  api/api.gen.go
  api/openapi.cloud.yaml
  api/openapi.yaml
  api/spec/src/billing/invoices.tsp
  api/spec/src/billing/invoices/invoice.tsp
  api/spec/src/cloud/main.tsp
  openmeter/billing/httpdriver/handler.go
  openmeter/billing/httpdriver/invoice.go
  openmeter/billing/httpdriver/invoiceline.go
  openmeter/billing/invoice.go
  openmeter/billing/invoiceline.go
  openmeter/billing/service.go
  openmeter/billing/service/invoice.go
  openmeter/billing/service/invoiceline.go
  openmeter/server/router/billing.go
  test/billing/invoice_test.go
Labels: area/api, release-note/breaking-change, kind/refactor, area/billing

#1933 feat: expose external ids
  api/api.gen.go
  api/openapi.cloud.yaml
  api/openapi.yaml
  api/spec/src/billing/invoices/invoice.tsp
  openmeter/billing/httpdriver/invoice.go
  openmeter/billing/httpdriver/invoiceline.go
Labels: area/api, release-note/feature, area/billing

#1950 fix: typo in handler name
  openmeter/billing/httpdriver/invoiceline.go
Labels: release-note/ignore

#1949 Add SubscriptionID field to Customer
  api/api.gen.go
  api/client/go/client.gen.go
  api/openapi.cloud.yaml
  api/openapi.yaml
  api/spec/src/customer.tsp
  api/spec/src/productcatalog/plan.tsp
  api/spec/src/productcatalog/subscription.tsp
  e2e/productcatalog_test.go
  openmeter/customer/adapter/customer.go
  openmeter/customer/adapter/entitymapping.go
  openmeter/customer/entity/customer.go
  openmeter/customer/httpdriver/apimapping.go
  openmeter/ent/db/client.go
  openmeter/ent/db/migrate/schema.go
  openmeter/ent/db/mutation.go
  openmeter/ent/db/plan.go
  openmeter/ent/db/plan/plan.go
  openmeter/ent/db/plan/where.go
  openmeter/ent/db/plan_create.go
  openmeter/ent/db/plan_query.go
  openmeter/ent/db/plan_update.go
  openmeter/ent/db/runtime.go
  openmeter/ent/db/setorclear.go
  openmeter/ent/db/subscription.go
  openmeter/ent/db/subscription/subscription.go
  openmeter/ent/db/subscription/where.go
  openmeter/ent/db/subscription_create.go
  openmeter/ent/db/subscription_query.go
  openmeter/ent/db/subscription_update.go
  openmeter/ent/schema/productcatalog.go
  openmeter/ent/schema/subscription.go
  openmeter/productcatalog/plan/service.go
  openmeter/subscription/adapters/plan/adapter.go
  openmeter/subscription/adapters/plan/plan.go
  openmeter/subscription/httpdriver/mapping.go
  openmeter/subscription/plan.go
  openmeter/subscription/ratecard.go
  openmeter/subscription/repo/mapping.go
  openmeter/subscription/repo/subscriptionrepo.go
  openmeter/subscription/service/service_test.go
  openmeter/subscription/service/update.go
  openmeter/subscription/service/update_test.go
  openmeter/subscription/service/workflowservice_test.go
  openmeter/subscription/subscription.go
  openmeter/subscription/subscriptionspec.go
  openmeter/subscription/subscriptionview.go
  openmeter/subscription/testutils/plan.go
  openmeter/subscription/testutils/ratecard.go
  openmeter/subscription/testutils/repository.go
  openmeter/subscription/testutils/service.go
  tools/migrate/migrations/20241209152120_subs-plan-linking.down.sql
  tools/migrate/migrations/20241209152120_subs-plan-linking.up.sql
  tools/migrate/migrations/atlas.sum
Labels: release-note/feature, area/product-catalog

#1952 Fix Subs panic on nil plan
  openmeter/subscription/repo/mapping.go
Labels: release-note/ignore

#1953 Unique count entitlements
  e2e/config.yaml
  e2e/entitlement_test.go
  openmeter/credit/balance.go
  openmeter/credit/engine/engine.go
  openmeter/credit/engine/engine_test.go
  openmeter/credit/helper.go
  openmeter/entitlement/metered/balance_test.go
  openmeter/entitlement/metered/utils_test.go
  openmeter/productcatalog/feature/connector.go
  pkg/recurrence/period.go
  pkg/recurrence/period_test.go
Labels: release-note/feature

#1955 Custom subscriptions
  cmd/server/main.go
  e2e/productcatalog_test.go
  openmeter/productcatalog/plan.go
  openmeter/productcatalog/plan/phase.go
  openmeter/productcatalog/plan/plan.go
  openmeter/productcatalog/plan/service/plan.go
  openmeter/productcatalog/subscription/adapter.go
  openmeter/productcatalog/subscription/http/cancel.go
  openmeter/productcatalog/subscription/http/create.go
  openmeter/productcatalog/subscription/http/edit.go
  openmeter/productcatalog/subscription/http/errors.go
  openmeter/productcatalog/subscription/http/get.go
  openmeter/productcatalog/subscription/http/handler.go
  openmeter/productcatalog/subscription/http/mapping.go
  openmeter/productcatalog/subscription/plan.go
  openmeter/server/router/router.go
  openmeter/server/router/subscription.go
  openmeter/subscription/adapters/plan/adapter.go
  openmeter/subscription/httpdriver/create.go
  openmeter/subscription/plan.go
  openmeter/subscription/ratecard.go
  openmeter/subscription/repo/mapping.go
  openmeter/subscription/repo/subscriptionrepo.go
  openmeter/subscription/repository.go
  openmeter/subscription/service.go
  openmeter/subscription/service/service_test.go
  openmeter/subscription/service/update.go
  openmeter/subscription/service/update_test.go
  openmeter/subscription/service/workflowservice.go
  openmeter/subscription/service/workflowservice_test.go
  openmeter/subscription/subscription.go
  openmeter/subscription/subscriptionspec.go
  openmeter/subscription/subscriptionview.go
  openmeter/subscription/testutils/plan.go
  openmeter/subscription/testutils/repository.go
  openmeter/subscription/testutils/service.go
Labels: release-note/feature

#1956 Expose BillingCadence for all RateCards
  openmeter/productcatalog/ratecard.go
  openmeter/productcatalog/subscription/plan.go
Labels: release-note/misc

#1957 Truncate Subscription Entitlement start times
  openmeter/entitlement/metered/connector.go
  openmeter/subscription/service/service_test.go
  openmeter/subscription/subscriptionspec.go
Labels: release-note/ignore

#1959 feat: billing add subscription metadata to lines
  api/api.gen.go
  api/client/go/client.gen.go
  api/openapi.cloud.yaml
  api/openapi.yaml
  api/spec/src/billing/invoices/invoice.tsp
  api/spec/src/types.tsp
  openmeter/billing/adapter/invoicelinemapper.go
  openmeter/billing/adapter/invoicelines.go
  openmeter/billing/httpdriver/invoiceline.go
  openmeter/billing/invoiceline.go
  openmeter/ent/db/billinginvoiceline.go
  openmeter/ent/db/billinginvoiceline/billinginvoiceline.go
  openmeter/ent/db/billinginvoiceline/where.go
  openmeter/ent/db/billinginvoiceline_create.go
  openmeter/ent/db/billinginvoiceline_query.go
  openmeter/ent/db/billinginvoiceline_update.go
  openmeter/ent/db/client.go
  openmeter/ent/db/migrate/schema.go
  openmeter/ent/db/mutation.go
  openmeter/ent/db/setorclear.go
  openmeter/ent/db/subscription.go
  openmeter/ent/db/subscription/subscription.go
  openmeter/ent/db/subscription/where.go
  openmeter/ent/db/subscription_create.go
  openmeter/ent/db/subscription_query.go
  openmeter/ent/db/subscription_update.go
  openmeter/ent/db/subscriptionitem.go
  openmeter/ent/db/subscriptionitem/subscriptionitem.go
  openmeter/ent/db/subscriptionitem/where.go
  openmeter/ent/db/subscriptionitem_create.go
  openmeter/ent/db/subscriptionitem_query.go
  openmeter/ent/db/subscriptionitem_update.go
  openmeter/ent/db/subscriptionphase.go
  openmeter/ent/db/subscriptionphase/subscriptionphase.go
  openmeter/ent/db/subscriptionphase/where.go
  openmeter/ent/db/subscriptionphase_create.go
  openmeter/ent/db/subscriptionphase_query.go
  openmeter/ent/db/subscriptionphase_update.go
  openmeter/ent/schema/billing.go
  openmeter/ent/schema/subscription.go
  tools/migrate/migrations/20241213152122_billing-subscription-linking.down.sql
  tools/migrate/migrations/20241213152122_billing-subscription-linking.up.sql
  tools/migrate/migrations/atlas.sum
Labels: area/api, release-note/feature, area/billing

#1970 feat(entitlement): enable by default
  app/common/billing.go
  app/common/customer.go
  app/common/entitlement.go
  app/common/notification.go
  app/common/openmeter_server.go
  app/common/openmeter_sinkworker.go
  app/common/productcatalog.go
  app/common/subscription.go
  app/config/config.go
  app/config/config_test.go
  app/config/entitlements.go
  app/config/events.go
  app/config/notification.go
  cmd/balance-worker/main.go
  cmd/billing-worker/main.go
  cmd/notification-service/main.go
  cmd/server/main.go
  config.example.yaml
  deploy/charts/openmeter/templates/configmap.yaml
  docker-compose.yaml
  e2e/config.yaml
  openmeter/notification/webhook/noop.go
  openmeter/notification/webhook/svix.go
  openmeter/notification/webhook/webhook.go
  openmeter/server/router/credit.go
  openmeter/server/router/entitlement.go
  openmeter/server/router/notification.go
  openmeter/server/router/product_catalog.go
  openmeter/server/router/router.go
  openmeter/server/server_test.go
Labels: release-note/feature, area/entitlements, area/notification

#1943 feat: billing subscription handler interface
  openmeter/billing/README.md
  openmeter/billing/adapter.go
  openmeter/billing/adapter/invoice.go
  openmeter/billing/adapter/invoicelinemapper.go
  openmeter/billing/adapter/invoicelines.go
  openmeter/billing/invoice.go
  openmeter/billing/invoiceline.go
  openmeter/billing/service.go
  openmeter/billing/service/invoice.go
  openmeter/billing/service/invoicecalc/details.go
  openmeter/billing/service/invoiceline.go
  openmeter/billing/service/lineservice/feeline.go
  openmeter/billing/service/lineservice/linebase.go
  openmeter/billing/worker/subscription/phaseiterator.go
  openmeter/billing/worker/subscription/phaseiterator_test.go
  openmeter/billing/worker/subscription/scanario_test.go
  openmeter/billing/worker/subscription/sync.go
  pkg/slicesx/groupby.go
  pkg/timex/compare.go
  test/billing/adapter_test.go
  test/billing/customeroverride_test.go
  test/billing/invoice_test.go
  test/billing/profile.go
  test/billing/profile_test.go
  test/billing/suite.go
Labels: release-note/ignore, area/billing, area/subscriptions

#1975 fix(notification): print
  openmeter/notification/webhook/webhook.go
Labels: release-note/ignore, area/notification

#1973 feat: add subscription events
  app/common/subscription.go
  cmd/server/wire_gen.go
  openmeter/billing/worker/subscription/scanario_test.go
  openmeter/customer/entity/customer.go
  openmeter/event/metadata/resourcepath.go
  openmeter/subscription/events.go
  openmeter/subscription/item.go
  openmeter/subscription/phase.go
  openmeter/subscription/ratecard.go
  openmeter/subscription/service/service.go
  openmeter/subscription/service/update.go
  openmeter/subscription/subscription.go
  openmeter/subscription/subscriptionspec.go
  openmeter/subscription/subscriptionview.go
  openmeter/subscription/testutils/service.go
  pkg/models/id.go
  pkg/models/model.go
Labels: release-note/ignore, area/subscriptions

#1977 feat: wire in subscription events
  .vscode/launch.json
  app/common/billing.go
  app/common/openmeter_billingworker.go
  cmd/billing-worker/wire_gen.go
  cmd/server/main.go
  cmd/server/wire_gen.go
  openmeter/billing/defaults.go
  openmeter/billing/httpdriver/defaults.go
  openmeter/billing/httpdriver/profile.go
  openmeter/billing/service.go
  openmeter/billing/service/profile.go
  openmeter/billing/worker/worker.go
Labels: release-note/feature, area/billing

#1976 feat: recalculate gathering invoices
  openmeter/billing/adapter/invoicelines.go
  openmeter/billing/httpdriver/invoice.go
  openmeter/billing/invoice.go
  openmeter/billing/invoiceline.go
  openmeter/billing/service/invoice.go
  openmeter/billing/service/invoicecalc/details.go
  openmeter/billing/service/lineservice/linebase.go
  test/billing/invoice_test.go
Labels: release-note/feature, area/billing

#1974 Subscription Change
  api/api.gen.go
  api/client/go/client.gen.go
  api/openapi.cloud.yaml
  api/openapi.yaml
  api/spec/src/productcatalog/routes.tsp
  api/spec/src/productcatalog/subscription.tsp
  app/common/subscription.go
  cmd/server/main.go
  cmd/server/wire.go
  cmd/server/wire_gen.go
  e2e/productcatalog_test.go
  openmeter/billing/worker/subscription/scanario_test.go
  openmeter/entitlement/entitlement.go
  openmeter/entitlement/uniqueness.go
  openmeter/productcatalog/plan/service.go
  openmeter/productcatalog/subscription/http/change.go
  openmeter/productcatalog/subscription/http/create.go
  openmeter/productcatalog/subscription/http/handler.go
  openmeter/productcatalog/subscription/http/migrate.go
  openmeter/productcatalog/subscription/plan.go
  openmeter/productcatalog/subscription/service.go
  openmeter/productcatalog/subscription/service/change.go
  openmeter/productcatalog/subscription/service/change_test.go
  openmeter/productcatalog/subscription/service/create.go
  openmeter/productcatalog/subscription/service/migrate.go
  openmeter/productcatalog/subscription/service/migrate_test.go
  openmeter/productcatalog/subscription/service/plan.go
  openmeter/productcatalog/subscription/service/service.go
  openmeter/productcatalog/subscription/testutils/adapter.go
  openmeter/server/router/router.go
  openmeter/server/router/subscription.go
  openmeter/subscription/item.go
  openmeter/subscription/patch/patch_test.go
  openmeter/subscription/repo/subscriptionrepo.go
  openmeter/subscription/repository.go
  openmeter/subscription/service.go
  openmeter/subscription/service/service.go
  openmeter/subscription/service/service_test.go
  openmeter/subscription/service/sync.go
  openmeter/subscription/service/synchelpers.go
  openmeter/subscription/service/workflowservice.go
  openmeter/subscription/service/workflowservice_test.go
  openmeter/subscription/state.go
  openmeter/subscription/subscription.go
  openmeter/subscription/subscriptionspec.go
  openmeter/subscription/testutils/compare.go
  openmeter/subscription/testutils/mock.go
  openmeter/subscription/testutils/plan.go
  openmeter/subscription/testutils/ratecard.go
  openmeter/subscription/testutils/service.go
  pkg/models/cadence.go
Labels: release-note/feature

#1982 chore(client): update dependencies
  api/client/node/package.json
  api/client/node/pnpm-lock.yaml
  api/client/web/package.json
  api/client/web/pnpm-lock.yaml
  api/client/web/test/react.test.tsx
Labels: release-note/dependency-update

#1983 fix: panic on no customer address is set
  openmeter/billing/adapter/invoice.go
Labels: release-note/bug-fix, area/billing

#1984 test: add stripe invoicing testcase
  openmeter/billing/adapter/invoicelinediff_test.go
  openmeter/billing/adapter/invoicelinemapper.go
  openmeter/billing/adapter/invoicelines.go
  openmeter/billing/httpdriver/invoiceline.go
  openmeter/billing/invoice.go
  openmeter/billing/invoiceline.go
  openmeter/billing/service/lineservice/usagebasedline.go
  openmeter/billing/service/lineservice/usagebasedline_test.go
  openmeter/billing/worker/subscription/sync.go
  test/app/stripe/invoice_test.go
  test/app/stripe/testenv.go
  test/billing/adapter_test.go
  test/billing/invoice_test.go
Labels: release-note/ignore, area/billing

#1985 fix: Kafka metrics
  pkg/kafka/metrics/broker.go
  pkg/kafka/metrics/consumergroup.go
  pkg/kafka/metrics/metrics.go
  pkg/kafka/metrics/topic.go
Labels: release-note/bug-fix

#1989 feat(billing): add external id to invoice line discount
  api/api.gen.go
  api/client/go/client.gen.go
  api/client/node/schemas/openapi.ts
  api/client/web/src/client/openapi.ts
  api/openapi.cloud.yaml
  api/openapi.yaml
  api/spec/src/billing/invoices/invoice.tsp
  openmeter/billing/adapter/invoicelinemapper.go
  openmeter/billing/adapter/invoicelines.go
  openmeter/billing/app.go
  openmeter/billing/httpdriver/invoiceline.go
  openmeter/billing/invoiceline.go
  openmeter/billing/service/invoicestate.go
  openmeter/ent/db/billinginvoicelinediscount.go
  openmeter/ent/db/billinginvoicelinediscount/billinginvoicelinediscount.go
  openmeter/ent/db/billinginvoicelinediscount/where.go
  openmeter/ent/db/billinginvoicelinediscount_create.go
  openmeter/ent/db/billinginvoicelinediscount_update.go
  openmeter/ent/db/migrate/schema.go
  openmeter/ent/db/mutation.go
  openmeter/ent/db/setorclear.go
  openmeter/ent/schema/billing.go
  test/billing/invoice_test.go
  tools/migrate/migrations/20241219213036_add_invoice_line_discount_external_id.down.sql
  tools/migrate/migrations/20241219213036_add_invoice_line_discount_external_id.up.sql
  tools/migrate/migrations/atlas.sum
Labels: release-note/feature, area/billing

#1978 feat(invoice): stripe app invoice sync
  openmeter/app/stripe/client/invoice.go
  openmeter/app/stripe/client/invoice_line.go
  openmeter/app/stripe/client/stripe_client.go
  openmeter/app/stripe/entity/app/app.go
  openmeter/app/stripe/entity/app/calculator.go
  openmeter/app/stripe/entity/app/client.go
  openmeter/app/stripe/entity/app/customer.go
  openmeter/app/stripe/entity/app/invoice.go
  openmeter/billing/app.go
  openmeter/billing/errors.go
  openmeter/billing/httpdriver/errors.go
  openmeter/billing/invoice.go
  openmeter/billing/service/invoicestate.go
  test/app/stripe/app_test.go
  test/app/stripe/appstripe.go
  test/app/stripe/fixture.go
  test/app/stripe/invoice_test.go
  test/app/stripe/stripe_mock.go
  test/app/stripe/testenv.go
Labels: release-note/feature, area/billing

#1993 feat(stripe): update api key
  api/api.gen.go
  api/client/go/client.gen.go
  api/client/node/schemas/openapi.ts
  api/client/web/src/client/openapi.ts
  api/openapi.cloud.yaml
  api/openapi.yaml
  api/spec/src/app/stripe.tsp
  openmeter/app/stripe/adapter.go
  openmeter/app/stripe/adapter/stripe.go
  openmeter/app/stripe/client/stripe.go
  openmeter/app/stripe/entity/input.go
  openmeter/app/stripe/httpdriver/apikey.go
  openmeter/app/stripe/httpdriver/handler.go
  openmeter/app/stripe/service.go
  openmeter/app/stripe/service/app.go
  openmeter/app/stripe/service/factory.go
  openmeter/secret/adapter.go
  openmeter/secret/adapter/secret.go
  openmeter/secret/entity/input.go
  openmeter/secret/service.go
  openmeter/secret/service/secret.go
  openmeter/server/router/appstripe.go
  openmeter/server/server_test.go
  test/app/stripe/app_test.go
  test/app/stripe/appstripe.go
  test/app/stripe/secret_mock.go
  test/app/stripe/testenv.go
Labels: area/api, release-note/feature, area/billing

#1994 feat(app): stripe status
  openmeter/app/adapter.go
  openmeter/app/adapter/app.go
  openmeter/app/entity/app.go
  openmeter/app/errors.go
  openmeter/app/service.go
  openmeter/app/service/app.go
  openmeter/app/stripe/adapter.go
  openmeter/app/stripe/adapter/adapter.go
  openmeter/app/stripe/adapter/customer.go
  openmeter/app/stripe/adapter/stripe.go
  openmeter/app/stripe/client/appclient.go
  openmeter/app/stripe/client/client.go
  openmeter/app/stripe/client/invoice.go
  openmeter/app/stripe/client/invoice_line.go
  openmeter/app/stripe/client/logger.go
  openmeter/app/stripe/entity/app/app.go
  openmeter/app/stripe/entity/app/client.go
  openmeter/app/stripe/service/factory.go
  openmeter/app/stripe/service/service.go
  openmeter/server/server_test.go
  test/app/stripe/appstripe.go
  test/app/stripe/fixture.go
  test/app/stripe/invoice_test.go
  test/app/stripe/stripe_mock.go
  test/app/stripe/testenv.go
Labels: release-note/feature, area/billing

#1995 refactor(secret): add app id to update
  openmeter/app/stripe/adapter/stripe.go
  openmeter/secret/entity/input.go
  test/app/stripe/appstripe.go
Labels: release-note/ignore, area/billing

#1998 feat(app): set stripe as default billing profile
  api/api.gen.go
  api/client/go/client.gen.go
  api/client/node/schemas/openapi.ts
  api/client/web/src/client/openapi.ts
  api/openapi.cloud.yaml
  api/openapi.yaml
  api/spec/src/app/marketplace.tsp
  openmeter/app/errors.go
  openmeter/app/httpdriver/errors.go
  openmeter/app/httpdriver/handler.go
  openmeter/app/httpdriver/marketplace.go
  openmeter/app/stripe/adapter.go
  openmeter/app/stripe/adapter/customer.go
  openmeter/app/stripe/adapter/stripe.go
  openmeter/app/stripe/client/client.go
  openmeter/app/stripe/client/stripe.go
  openmeter/app/stripe/entity/app/customer.go
  openmeter/app/stripe/entity/input.go
  openmeter/app/stripe/service.go
  openmeter/app/stripe/service/app.go
  openmeter/billing/adapter/profile.go
  openmeter/billing/profile.go
  openmeter/billing/service/profile.go
  openmeter/customer/httpdriver/errors.go
  openmeter/ent/db/migrate/schema.go
  openmeter/ent/schema/app_stripe.go
  openmeter/server/router/router.go
  openmeter/server/server_test.go
  test/app/stripe/appstripe.go
  test/app/stripe/fixture.go
  test/billing/profile_test.go
  tools/migrate/migrations/20241230152834_app_stripe_account_id_unique.down.sql
  tools/migrate/migrations/20241230152834_app_stripe_account_id_unique.up.sql
  tools/migrate/migrations/atlas.sum
Labels: release-note/feature, area/billing
